extends layout

block content
  br  
  .col-md-8.order-md-1
    .row
      .form-group.col-md-3.mb-3
        input.form-control#searchinput(type="text", placeholder="Pesquisar", name="name")
      .form-group.col-md-3.mb-3
        {{ form.responsavel(class_="custom-select d-block w-100", id_="responsavel") }}      
        {% for error in form.responsavel.errors %}
        span#errorspan [{{ error }}]
        {% endfor %}
  small#filtermsg ASDASD
  table.table#table
    thead
      tr
        th Cadastros
      tr
        th
          a(href='/new') NOVO
    tbody#tbody
      each item in items
        tr
          th
            h4 #{item.name}, Cod. #{item.number}
            small (#{item.responsavel})
            div
              a(href='/edit/#{item.id}')
                small
                  | Editar
              |
              a(href='/show/#{item.id}')
                small
                  | Visualizar
              |
              a(href='/delete/#{item.id}')
                small
                  | Delete