extends layout

block content
    div#show(align="center")
        hr
        h2 #{item.name}, Cod. #{item.number}
        hr
        p Quantidade: #{item.qtt}
        p Responsável: #{item.responsavel}  
        if item.retornar        
            p Retornar
        else
            p Não retornar 
        a(href='/edit/#{item.id}')
            small
                | Editar
        |
        a(href='/delete/#{item.id}')
            small
                | Delete
